@charset "UTF-8";

/*
==================================================

   共通スタイル

==================================================
*/



/*
==================================================
  基本設定
==================================================
*/

/* ----- 背景・テキスト ----- */
body {
margin: 0;
padding: 0;
background-color: #efefef; 
color: #555555;
font-size: 100%;
}

/* ----- リンクテキスト ----- */
a:link { color: #3366ff; }
a:visited { color: #336699; }
a:hover { color: #cc0000; }
a:active { color: #cc0000; }

/* ----- IE8 ----- */
article, aside, figure, figcaption, footer, header, nav, section {
display: block;
}

/* ----- 行の高さ ----- */
/*
* {
line-height: 100%;
}
*/

/* ----- 段落 ----- */
/*
p {
margin: 0 0 1em;
}
*/

/* ----- 画像の伸縮 ----- */
img {
width: inherit;
max-width: 100%;
height: auto;
width /***/:auto;
}

/* ----- 動画の伸縮 ----- */
.video div {
position: relative;
width: 100%;
padding-bottom: 56.25%;
}
.video div iframe {
position: absolute;
width: 100%;
height: 100%;
}

/* ----- リスト ----- */
header ul, header ol, header dl,
footer ul, footer ol, footer dl,
section > ul, section > ol, section > dl,
section div.inner ul, section div.inner ol, section div.inner dl,
section > ul ul,
nav ul, nav ol, nav dl,
table ul, table ol, table dl,
#content section.example ul.note {
margin: 0;
padding: 0;
list-style-type: none;
}



/*
==================================================
  レイアウト
==================================================
*/

#header {
max-width: 1400px;
margin: 0 auto;
background-color: #ffffff;
box-shadow: 0 2px 3px 0 #c0c0c0;
}

#body {
max-width: 1400px;
margin: 20px auto 50px;
padding: 0 2%;
}
#body:after {
content: "";
clear: both;
display: block;
}

#footer {
width: 100%;
padding: 20px 0 20px;
background-color: #ffffff;
border-top: 1px #c9c9c9 solid;
}



/* ----- ★1023 ----- */
@media screen and (max-width: 1023px) {

}
/* ----- /1023 ----- */



/* ----- ★767 ----- */
@media screen and (max-width: 767px) {

#header, #body, #footer {

}
#body {
max-width: none;
margin: 15px 0 40px;
padding: 0 10px;
}
/*
#header {
z-index: 1;
}
#body, #footer {
z-index: 0;
}
*/

}
/* ----- /767 ----- */



/*
==================================================
  ヘッダ
==================================================
*/

#header {
position: relative;
padding: 0 0 1px;
}

/* ----- 画像リンク ----- */
#header a img {
border: none;
}

/* ----- タイトルロゴ ----- */
#header h1.logo,
#header p.logo {
width: 220px;
margin: 0px;
padding: 15px 20px;
font-size: 100%;
color: #555555;
}

/* ----- 検索ボックス ----- */
#header div.search {
position: absolute;
top: 22px;
left: 260px;
right: 15em;
max-width: 700px;
}
#header div.search form {
margin: 0;
}
#header div.search form input[type="text"] {
width: 70%;
padding: 4px;
border: 1px #c0c0c0 solid;
box-shadow: 0 0 3px 0 #c0c0c0 inset;
font-size: 1em;
font-family: Arial, sans-serif;
}
#header div.search form input[type="text"]:hover {
border: 1px #949494 solid;
}
#header div.search form input[type="text"]:focus {
border: 1px #2b80d5 solid;
}
#header div.search form input[type="submit"] {
padding: 3px 10px;
background-color: #efefef;
border: 1px #c0c0c0 solid;
border-radius: 3px;
font-size: 90%;
color: #8a8a8a;
}
#header div.search form input[type="submit"]:hover {
background-color: #dfdfdf;
}
#header div.search form input[type="submit"]:active {
background-color: #c9c9c9;
color: #747474;
}

/* ----- リード ----- */
#header p.lead {
position: absolute;
top: 30px;
right: 20px;
margin: 0;
font-size: 90%;
}

/* ----- グローバルメニュー ----- */
#header nav.menu {
width: 100%;
background-color: #5f5f5f;
border-top: 2px #4a4a4a solid;
border-bottom: 5px #4a4a4a solid;
font-size: 90%;
}
#toggleS {
display: none;
}
#toggle {
display: none;
}
#header nav.menu ul:after {
content: "";
clear: both;
display: block;
}
/* メニュー項目 */
#header nav.menu ul li {
float: left;
text-align: center;
}
#header nav.menu ul li.home {
width: 5em;
}
#header nav.menu ul li.html5 {
width: 5em;
}
#header nav.menu ul li.css3 {
width: 4em;
}
#header nav.menu ul li.html {
width: 6em;
}
#header nav.menu ul li.css {
width: 4em;
}
#header nav.menu ul li.color {
width: 8em;
}
#header nav.menu ul li.tool {
width: 8em;
}
#header nav.menu ul li.template {
width: 7em;
}
#header nav.menu ul li.jscript {
width: 6em;
}
#header nav.menu ul li.guide {
width: 8em;
}
/* メニューリンク */
#header nav.menu ul li a {
display: block;
padding: 15px 0;
text-decoration: none;
color: #dfdfdf;
}
/* #header nav.menu ul li a.active, */
#header nav.menu ul li a:hover {
background-color: #4a4a4a;
color: #ffffff;
}

/* ----- 階層リンク ----- */
#header nav.path {
margin: 13px 25px 2px;
font-size: 90%;
}
#header nav.path ol li {
display: inline;
line-height: 140%;
}
#header nav.path ol li a {
padding: 0 12px 0 0;
background: url(../../image/design/path.gif) no-repeat right;
}
#header nav.path ol li a.integrate {
padding: 0;
background: none;
}

/* ----- ページタイトル ----- */
#header h1.title {
margin: 0;
padding: 10px 25px;
background-color: #e3f0fb;
font-size: 120%;
}



/* ----- ★1023 ----- */
@media screen and (max-width: 1023px) {

#header h1.logo,
#header p.logo {
padding: 15px 20px 5px;
}

#header div.search {
right: 5em;
}

#header p.lead {
position: static;
top: auto;
right: auto;
margin: 0 25px 10px;
}

#header nav.menu {
border-bottom: 2px #4a4a4a solid;
}

#header nav.menu ul li.home,
#header nav.menu ul li.html5,
#header nav.menu ul li.css3,
#header nav.menu ul li.html,
#header nav.menu ul li.css,
#header nav.menu ul li.jscript,
#header nav.menu ul li.template,
#header nav.menu ul li.tool,
#header nav.menu ul li.color,
#header nav.menu ul li.guide {
width: 20%;
}

#header nav.menu ul li a {
padding: 10px 0;
}

#header h1.title {
font-size: 110%;
}

}
/* ----- /1023 ----- */



/* ----- ★767 ----- */
@media screen and (max-width: 767px) {

#header h1.logo,
#header p.logo {
width: auto;
padding: 15px 15px 10px;
text-align: center;
}

#header div.search {
position: static;
width: auto;
max-width: none;
margin: 0 10px 10px;
text-align: center;
}
#headSearch {
display: none;
}

#header div.search form input[type="text"] {
max-width: 350px;
}

#header p.lead {
display: none;
}

#header nav.menu {
border-top: none;
border-bottom: none;
font-size: 100%;
}

#header nav.menu div:after {
content: "";
clear: both;
display: block;
}

#header nav.menu div #toggleS {
display: block;
float: left;
width: 50px;
padding: 11px 20px 9px;
}

#header nav.menu div #toggle {
display: block;
float: right;
width: 50px;
padding: 11px 20px 9px;
text-align: right;
}

#header nav.menu #menu {
display: none;
}

#header nav.menu ul li {
border-top: 1px #4a4a4a solid;
}

#header nav.menu ul li.home,
#header nav.menu ul li.html5,
#header nav.menu ul li.css3,
#header nav.menu ul li.html,
#header nav.menu ul li.css,
#header nav.menu ul li.jscript,
#header nav.menu ul li.template,
#header nav.menu ul li.tool,
#header nav.menu ul li.color,
#header nav.menu ul li.guide {
float: none;
width: 100%;
}

#header nav.menu ul li a {
padding: 15px 0;
}

#header nav.path {
margin: 20px 15px 15px;
font-size: 100%;
}
#header nav.path ol li:last-child {
display: none;
}

#header h1.title {
padding: 10px 15px;
font-size: 100%;
}

}
/* ----- /767 ----- */



/*
==================================================
  フッタ
==================================================
*/

#footer {
text-align: center;
font-size: 90%;
color: #7f7f7f;
}

#footer a {
color: #5f5f5f;
text-decoration: none;
}
#footer a:hover {
text-decoration: underline;
}

#footer div.counter {
max-width: 50em;
margin: 0 auto;
padding: 7px;
background-color: #f9f9f9;
}
#footer div.counter span {
font-weight: bold;
}

#footer ul {
margin: 10px 0 30px;
}
#footer ul li {
display: inline;
padding: 0 7px;
line-height: 160%;
white-space: nowrap;
}

#footer p.catch1 {
margin: 0 0 5px;
}
#footer p.catch2 {
margin: 0 0 10px;
}
#footer p.copyright {

}
#footer p.copyright small {
font-size: 100%;
}



/* ----- ★1023 ----- */
@media screen and (max-width: 1023px) {

}
/* ----- /1023 ----- */



/* ----- ★767 ----- */
@media screen and (max-width: 767px) {

#footer {
font-size: 100%;
}

#footer div.counter {
display: none;
}

#footer ul {
width: 90%;
margin: 10px auto 30px;
text-align: left;
}
#footer ul:after {
content: "";
clear: both;
display: block;
}
#footer ul li {
display: list-item;
float: left;
width: 50%;
margin: 0 0 15px;
padding: 0;
line-height: 140%;
white-space: normal;
}

#footer p.catch1,
#footer p.catch2 {
display: none;
}

#footer p.copyright small {
font-size: 80%;
}

}
/* ----- 767 ----- */



/*
==================================================
  カテゴリーナビ（第三階層以下で使用）
==================================================
*/

/* --- カテゴリーリンク --- */
#navi #category {
margin: 0 0 20px;
padding: 0 0 1px;
background-color: #f9f9f9;
box-shadow: 0 0 3px 0 #c0c0c0;
}
/* 見出し */
#navi #category h2 {
margin: 0 0 10px;
padding: 10px 5px;
background-color: #9f9f9f;
font-size: 90%;
color: #efefef;
}
/* メニュー */
#navi #category ul {
margin: 0 5px 10px;
padding: 2px 5px 5px;
border-bottom: 1px #aaaaaa dotted;
}
#navi #category ul li {
margin: 0 0 5px;
font-size: 80%;
line-height: 120%;
}
#navi #category a {
color: #5f5f5f;
text-decoration: none;
}
#navi #category a:hover {
text-decoration: underline;
}
#navi #category a.active {
font-weight: bold;
}

/* --- Ads --- */
#navi div.pcHidden {
display: none;
}
#navi aside.ads div.label {
display: none;
/* margin: 0 0 20px; */
}
#navi aside.ads div.label span {
padding: 2px 3px;
background-color: #9f9f9f;
font-size: 80%;
color: #efefef;
}
#navi aside.ads div.responsive {
width: 160px;
height: 600px;
}
.list_navi, .page_navi {
width: 160px;
height: 600px;
}



/* ----- ★1023 ----- */
@media screen and (max-width: 1023px) {

#navi #category ul {
padding: 7px 5px 5px;
}
#navi #category ul li {
margin: 0 0 10px;
}

}
/* ----- /1023 ----- */



/* ----- ★767 ----- */
@media screen and (max-width: 767px) {

#navi #category {
margin: 0 0 70px;
}

#navi #category h2 {
font-size: 100%;
}

#navi #category ul {
margin: 20px 5px 20px;
}
#navi #category ul li {
margin: 0 0 20px;
font-size: 100%;
}

#navi div.pcHidden {
display: block;
}
#navi aside.ads {
display: block;
padding: 0 0 80px;
text-align: center;
}
#navi aside.ads div.label {
display: block;
margin: 0 0 20px;
}
#navi aside.ads div.responsive {
width: 100%;
height: auto;
}
.list_navi, .page_navi {
width: 100%;
height: auto;
min-height: 250px;
max-height: 280px;
}

}
/* ----- /767 ----- */



/*
==================================================
  その他
==================================================
*/

/* ----- Back to Top ----- */
#backtop {
position: fixed;
z-index: 2;
bottom: 3px;
right: 3px;
margin: 0;
}
#backtop a img {
opacity: 0.4;
}
#backtop a:hover img {
opacity: 0.7;
}

/* ----- Related Link ----- */
#content .relatedLink {
margin: 50px 10px 40px;
padding: 20px 0 0;
border-top: 1px #aaaaaa dotted;
}
#content .relatedLink nav.backLink {
margin: 0 0 20px;
text-align: center;
}
#content .relatedLink dl {
padding: 30px 5px 0;
border-top: 1px #aaaaaa dotted;
}
#content .relatedLink dl dt {
margin: 0 0 8px;
font-weight: bold;
}
#content .relatedLink dl dd {
margin: 0;
}
#content .relatedLink dl dd li {
padding: 0 0 5px 23px;
background: url(../../image/marks/file_s.gif) no-repeat left 0.1em;
line-height: 120%;
}
/* ----- ★1023 ----- */
@media screen and (max-width: 1023px) {

#content .relatedLink {
margin: 50px 10px 30px;
}
#content .relatedLink dl dt {
margin: 0 0 15px;
}
#content .relatedLink dl dd li {
padding: 0 0 14px 23px;
line-height: 130%;
}

}
/* ----- /1023 ----- */
/* ----- ★767 ----- */
@media screen and (max-width: 767px) {

#content .relatedLink {
margin: 50px 10px 20px;
}
#content .relatedLink dl dt {
margin: 0 0 20px;
}
#content .relatedLink dl dd li {
padding: 0 0 18px 23px;
line-height: 140%;
}

}

/* ----- Pre Break ----- */
.preBreak {
word-wrap: break-word;
white-space: -moz-pre-wrap;
white-space: -pre-wrap;
white-space: -o-pre-wrap;
white-space: pre-wrap;
font-family: monospace;
}
/*
.preBreak {
overflow: auto;
}
*/

/* ----- New Window ----- */
img.newWin {
margin: 0 5px;
border: none;
vertical-align: middle;
}
/* ----- ★1023 ----- */
@media screen and (max-width: 1023px) {

a[target="_blank"] {
display: none;
}

}

/* ----- Img Border ----- */
img.imgBorder {
border: 1px #c0c0c0 solid;
}

/* ----- Hr ----- */
hr.hd {
visibility: hidden;
margin: 1.5em 0;
}


