
body {
  background-image: url("cheap_diagonal_fabric.png") !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

.contents {
  flex: 1;
}

/*header*/

.header {
  height: 100px;
  background-color: #222222;
}

.logo {
  height: 50px;
  width: 200px;
  margin: auto;
}

.navbar.navbar-inverse.header_bottom {
  height: 45px;
  background-color: #222222;
}


.header_dropdown{
  float: left;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}


.input_form {
  width: 150px;
  margin: 0 auto;
}

.form-group {
  width: 150px;
  height: 60px;
  margin: 0 auto;
}

.show-left.col-sm-6{
  margin: 10px 0px 0px 0px;
}

.footer {
  height: 25px;
  background-color: #222222;
  color: white;
  text-align:  center;
}

.center {
  margin: 50px 0;
}




